@import "../global.scss";

.card {
  position: relative;
  border-radius: 10px;
  &_gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  &_img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    @media screen and (max-width: 980px) {
      height: 255px;
    }
  }
  &_title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: $neutral-100;
    padding: 20px;
    font-size: $fs-18;
    font-weight: $fw-500;
  }
}
