@import "../global.scss";

.footer {
  background: $neutral-900;
  color: $neutral-100;
  padding-bottom: 22px;
  &_container {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_img {
    width: 130px;
    padding-block: 60px 30px;
  }
  & p {
    padding-bottom: 30px;
    font-size: $fs-24;
  }
}
