@import "../global.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
  &_link {
    padding-left: 50px;
    color: $primary-clr;
    font-size: $fs-24;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 760px) {
  .nav img {
    width: 145px;
  }
  .nav_link {
    padding-left: 20px;
    font-size: $fs-18;
  }
}
