@import "../global.scss";

.rating {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  @media screen and (max-width: 680px) {
    column-gap: 5px;
  }
}

.rating img {
  width: 24px;
  height: 24px;
  @media screen and (max-width: 680px) {
    width: 18px;
    height: 18px;
  }
}
