@import "../global.scss";

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  @media screen and (max-width: 680px) {
    gap: 100px;
  }

  &_title {
    color: $primary-clr;
    text-align: center;
    font-size: $fs-288;
    font-weight: $fw-700;
    @media screen and (max-width: 680px) {
      font-size: $fs-96;
      margin-top: 50px;
    }
  }

  &_text {
    color: $primary-clr;
    font-size: $fs-36;
    text-align: center;
    @media screen and (max-width: 680px) {
      font-size: $fs-24;
    }
  }

  &_link {
    color: $primary-clr;
    font-size: $fs-18;
    text-decoration-line: underline;
    margin-bottom: 89px;
  }
}
